on:
  workflow_call:
    inputs:
      toolchain:
        description: "Rust toolchain (i.e. nightly, beta, stable)"
        required: true
        type: string
      crate:
        description: "Crate name"
        required: true
        type: string

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ inputs.toolchain }}
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - name: Check code formatting
        run: |
          cargo fmt \
            --package ${{ inputs.crate }} \
            -- \
            --check \

