on:
  workflow_call:
    inputs:
      toolchain:
        description: "Rust toolchain (i.e. nightly, beta, stable)"
        required: true
        type: string
      crate:
        description: "Crate name"
        required: true
        type: string

jobs:
  semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - run: cargo install cargo-semver-checks --locked
      - uses: Swatinem/rust-cache@v2
        with:
          cache-bin: true
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - name: Run cargo semver checks
        run: cargo semver-checks --verbose --package ${{ inputs.crate }}

